/* adjusts body width to fit all sizes of screen */
body {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* edits master website logo size for all pages */
.whitworth-logo {
    width: 160px;
    height: 160px;
}

/* sets master color for corresponding html tags/elements */
:root {
    --bg-dark:#000000;
    --text-light: #F9F6EE;
    --bs-primary: #2274A5;
    --bs-primary-rgb: 34, 116, 165;
}

.btn-outline-primary {
    --bs-btn-color: #2274A5;
    --bs-btn-border-color: #2274A5;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2274A5;
    --bs-btn-hover-border-color: #0d6efd;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2274A5;
    --bs-btn-active-border-color: #2274A5;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0d6efd;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0d6efd;
    --bs-gradient: none;
}

body, header, footer {
    background-color: var(--bg-dark);
}

h1, h2, h3, p, .nav-link {
    color: var(--text-light);
}

i {
    color: var(--bs-primary);
}

/* sets font-family for corresponsing font and class tags */
h1, h2 {
    font-family: 'Rokkitt', serif;
}

p, h3, ul, .btn {
    font-family: 'Kalam', cursive;
}

a {
    font-family: 'Rokkitt', serif;
}

/* removes underline from all website links */
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: var(--text-light);
}

/******************************
    Homepage Page Styles
******************************/

/* creates background image for homepage banner, adds text shadow to font */
.home-banner {
    background-image: url(../images/home-banner.jpeg);
    background-size: cover;
    align-self: center;
    max-width: 1300px;
    min-height: 50vh;
    position: relative;
    margin: auto;
    color: white;
    text-shadow: 4px 4px 4px rgba(0,0,0,.8);
}

/* creates background image for homepage web development section, adds text shadow to font */
.web-dev-bg {
    background-image: url(../images/programming-1200_x_1200.png);
    max-width: 400px;
    min-height: 60vh;
    position: relative;
    margin: auto;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.8);
}

/* creates background image for homepage photography section, adds text shadow to font */
.photography-bg {
    background-image: url(../images/camera-woodtable-1200_x_1200.jpeg);
    max-width: 400px;
    min-height: 60vh;
    position: relative;
    margin: auto;
    color: white;
    text-shadow: 4px 4px 4px rgba(0,0,0,.8);
}

/* creates background image for homepage software design section, adds text shadow to font */
.software-bg {
    background-image: url(../images/laptop-software-1200_x_1200.jpeg);
    max-width: 400px;
    min-height: 60vh;
    position: relative;
    margin: auto;
    color: white;
    text-shadow: 4px 4px 4px rgba(0,0,0,.8);
}

/******************************
    Portfolio Page Styles
******************************/

/* creates background image for portfolio page banner, adds text shadow to font */
.portfolio-banner {
    background-image: url(../images/portfolio-banner.jpeg);
    background-size: cover;
    align-self: center;
    max-width: 1300px;
    min-height: 50vh;
    position: relative;
    margin: auto;
    color: white;
    text-shadow: 4px 4px 4px rgba(0,0,0,.8);
}

/* creates max-width media query for home banner and portfolio banner to display at 30vh */
@media (max-width: 768px) {
    .home-banner {
        min-height: 30vh;
    }
    
    .portfolio-banner {
        min-height: 30vh;
    }
}

/* creates max-width media query for homepage section images to adjust max width and min height */
@media (max-width: 992px) {
    .web-dev-bg {
        min-height: 40vh;
        max-width: 960px;
    }

    .photography-bg {
        min-height: 40vh;
        max-width: 960px;
    }

    .software-bg {
        min-height: 40vh;
        max-width: 960px;
    }
}