/* sets master color for corresponding html tags/elements */
:root {
    --bg-dark:#000000;
    --text-light: #F9F6EE;
}

body {
    background-color: var(--bg-dark);
}

header {
    color: var(--bg-dark);
}

footer {
    color: var(--bg-dark);
}

h1, h2, h3, p {
    color: var(--text-light);
}

.nav-link {
    color: var(--text-light);
}

/* sets font-family for corresponsing font and class tags */
h1, h2 {
    font-family: 'Rokkitt', serif;
}

p, h3, ul, .btn {
    font-family: 'Kalam', cursive;
}

a {
    font-family: 'Rokkitt', serif;
}

/* removes underline from all website links */
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

/* edits master website logo size for all pages */
.whitworth-logo {
    width: 160px;
    height: 160px;
}

/******************************
    Homepage Page Styles
******************************/

.home-banner {
    background-image: url(../images/home-banner.jpeg);
    background-size: cover;
    align-self: center;
    max-width: 1300px;
    min-height: 50vh;
    position: relative;
    margin: auto;
    color: white;
    text-shadow: 4px 4px 4px rgba(0,0,0,.8);
}

.web-dev-bg {
    background-image: url(../images/programming-1200_x_1200.png);
    max-width: 400px;
    min-height: 60vh;
    position: relative;
    margin: auto;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.8);
}

.photography-bg {
    background-image: url(../images/camera-woodtable-1200_x_1200.jpeg);
    max-width: 400px;
    min-height: 60vh;
    position: relative;
    margin: auto;
    color: white;
    text-shadow: 4px 4px 4px rgba(0,0,0,.8);
}

.software-bg {
    background-image: url(../images/laptop-software-1200_x_1200.jpeg);
    max-width: 400px;
    min-height: 60vh;
    position: relative;
    margin: auto;
    color: white;
    text-shadow: 4px 4px 4px rgba(0,0,0,.8);
}

/******************************
    Portfolio Page Styles
******************************/

/* adds portfolio banner bg-img, aligns image to center at 1400px max-width, adds text shadow for easy to read header font */
.portfolio-banner {
    background-image: url(../images/portfolio-banner.jpeg);
    background-size: cover;
    align-self: center;
    max-width: 1300px;
    min-height: 50vh;
    position: relative;
    margin: auto;
    color: white;
    text-shadow: 4px 4px 4px rgba(0,0,0,.8);
}

@media (max-width: 768px) {
    .home-banner {
        min-height: 30vh;
    }
    
    .portfolio-banner {
        min-height: 30vh;
    }
}

@media (max-width: 992px) {
    .web-dev-bg {
        min-height: 40vh;
        max-width: 960px;
    }

    .photography-bg {
        min-height: 40vh;
        max-width: 960px;
    }

    .software-bg {
        min-height: 40vh;
        max-width: 960px;
    }
}