/* adds portfolio banner bg-img, aligns image to center at 1400px max-width, adds text shadow for easy to read header font */
.portfolio-banner {
    background-image: url(../images/portfolio-banner.jpeg);
    background-size: cover;
    align-self: center;
    max-width: 1300px;
    min-height: 50vh;
    position: relative;
    margin: auto;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.8);
}

@media (max-width: 768px) {
    .portfolio-banner {
        min-height: 30vh;
    }
}