/* sets font-family for corresponsing font tags */
h1, h2 {
    font-family: 'Rokkitt', serif;
}

p, h3, .btn {
    font-family: 'Kalam', cursive;
}

a {
    font-family: 'Rokkitt', serif;
}

/******************************
    Homepage Page Styles
******************************/

.home-banner {
    background-image: url(../images/home-banner.jpeg);
    background-size: cover;
    align-self: center;
    max-width: 1300px;
    min-height: 50vh;
    position: relative;
    margin: auto;
    color: white;
    text-shadow: 4px 4px 4px rgba(0,0,0,.8);
}

.web-dev-bg {
    background-image: url(../images/programming-1200_x_1200.png);
    max-width: 400px;
    min-height: 50vh;
    position: relative;
    margin: auto;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.8);
}

.photography-bg {
    background-image: url(../images/camera-woodtable-1200_x_1200.jpeg);
    max-width: 400px;
    min-height: 50vh;
    position: relative;
    margin: auto;
    color: white;
    text-shadow: 4px 4px 4px rgba(0,0,0,.8);
}

.software-bg {
    background-image: url(../images/laptop-software-1200_x_1200.jpeg);
    max-width: 400px;
    min-height: 50vh;
    position: relative;
    margin: auto;
    color: white;
    text-shadow: 4px 4px 4px rgba(0,0,0,.8);
}

/******************************
    Portfolio Page Styles
******************************/

/* adds portfolio banner bg-img, aligns image to center at 1400px max-width, adds text shadow for easy to read header font */
.portfolio-banner {
    background-image: url(../images/portfolio-banner.jpeg);
    background-size: cover;
    align-self: center;
    max-width: 1300px;
    min-height: 50vh;
    position: relative;
    margin: auto;
    color: white;
    text-shadow: 4px 4px 4px rgba(0,0,0,.8);
}

@media (max-width: 768px) {
    .home-banner {
        min-height: 30vh;
    }
    
    .portfolio-banner {
        min-height: 30vh;
    }
}

@media (max-width: 992px) {
    .web-dev-bg {
        min-height: 30vh;
        max-width: 960px;
    }

    .photography-bg {
        min-height: 30vh;
        max-width: 960px;
    }

    .software-bg {
        min-height: 30vh;
        max-width: 960px;
    }
}